.DS_Store
__pycache__/
*.pyc
build/
*.o
objs/
logs/
*.ppm
final-cuda/code/saxpy/cudaSaxpy
final-cuda/code/scan/cudaScan
final-cuda/code/render/render
final-cuda/starter/saxpy/cudaSaxpy
final-cuda/starter/scan/cudaScan
final-cuda/starter/render/render
*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.fls
*.fdb_latexmk
